contextily==1.7.1
esda==2.10.0
geopandas==1.1.4
h3==4.5.0
libpysal==4.15.0
mapclassify==2.11.0
matplotlib==3.11.1
matplotlib-scalebar==0.9.0
networkx==3.6.1
numpy==2.5.2
openpyxl==3.1.5
pandas==3.0.5
pyogrio==0.13.0
pyproj==3.7.2
rasterio==1.5.1
scikit-learn==1.9.0
scipy==1.18.0
shapely==2.1.2
